@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Feature>;

@{
    ViewData["Title"] = "Features";

    Layout = "_EditorLayout";
}

<h1>Features' List'</h1>

<a class="btn btn-primary my-4" asp-controller="Feature" asp-action="Create">Create a Feature</a>

@if (Model.Count() == 0)
{
    <div class="alert alert-primary" role="alert">
        <h2>Features not found</h2>
    </div>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th class="col">#</th>
                <th class="col">Name</th>
                <th class="col text-center">Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Feature feature in Model)
            {
                <tr>
                    <th scope="row">@feature.Id</th>
                    <td>@feature.Name</td>
                    <td class="d-flex justify-content-evenly">
                        <a class="btn btn-outline-success" href="@Url.Action("Edit", "Feature", new {id = feature.Id})">Modifica</a>
                        <form asp-controller="Feature" asp-action="Delete" asp-route-id="@feature.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-outline-danger">Elimina</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}